// _button-pill.scss
// Pull extension for buttons
// @author eFBe
// TODO: disabled (hollow) buttons?

@import '../../../mixin/_splitter';
@import '../essential/_global-variables';
@import '../essential/_colors';


$pill-box-shadow: 0 $small-border-width $small-border-width 0 rgba(0, 0, 0, $disabled-percentage)
		inset, 0 $small-border-width $small-border-width 0 rgba(255, 255, 255, $hollow-item-hover);

// Sizes

@mixin button-pill {
	margin-top: -(2 * $small-border-width); // a touch of middle vertical alignment
	font-size: $font-size-small;
	color: inherit;
	background-color: inherit;
	transition: none;
	box-shadow: $pill-box-shadow;
}

@mixin button-pill-small {
	&.small {
		.pill {
			height: $xsmall-block-height;
			line-height: $xsmall-block-height;
			font-size: $font-size-xsmall;
		}
	}
}

@mixin button-pill-large {
	&.large {
		.pill {
			font-size: $font-size-default;
		}
	}
}


// Color variants

@mixin button-pill-hollow {
	&.hollow {
		.pill {
			color: $white;
			background-color: $led-suit-blue-dark;
			border: 0;
			box-shadow: none;
		}

		&:focus,
		&:active,
		&.active {
			.pill {
				box-shadow: $pill-box-shadow;
			}
		}

		// orange
		&.primary {
			.pill {
				background-color: $led-suit-orange-dark;
			}
		}

		// grey
		&.secondary {
			.pill {
				color: $old-school-black;
				background-color: $led-suit-white;
			}
		}
	}
}
