// _button-hollow.scss
// Icon extension for buttons
// @author eFBe

@import '../essential/_colors';
@import '../essential/_global-variables';


@mixin button-hollow {
	line-height: round($default-block-height - 2 * $small-border-width);
	color: $led-suit-blue-dark;

	// I separate properties so won't be overwritten every time
	border-width: 1px;
	border-style: solid;
	border-color: $led-suit-blue-dark;

	&:hover {
		background-color: change-color($led-suit-blue-dark, $alpha: $hollow-item-hover);
	}

	// Reset to default colors
	&:focus,
	&:active,
	&.active {
		color: $white;
		background-color: $led-suit-blue-dark;
	}
}


// Sizes

@mixin button-hollow-small {
	&.small {
		line-height: round($small-block-height - 2 * $small-border-width);
	}
}

@mixin button-hollow-large {
	&.large {
		border-width: 2px;
		line-height: round($large-block-height - 2 * $default-border-width);
	}
}


// Color variants

@mixin button-hollow-primary {
	&.primary { // orange
		color: $led-suit-orange-dark;
		background-color: $transparent;
		border-color: $led-suit-orange-dark;

		&:hover {
			background-color: change-color($led-suit-orange-dark, $alpha: $hollow-item-hover);
		}

		&:focus,
		&:active,
		&.active {
			color: $white;
			background-color: $led-suit-orange-dark;
		}
	}
}

@mixin button-hollow-secondary {
	&.secondary { // grey
		color: $led-suit-white;
		background-color: $transparent;
		border-color: $led-suit-white;

		&:hover {
			background-color: change-color($led-suit-white, $alpha: $hollow-item-hover);
		}

		&:focus,
		&:active,
		&.active {
			color: $old-school-black;
			background-color: $led-suit-white;
		}
	}
}