// _button-icon.scss
// Icon extension for buttons
// @author eFBe

@import '../../../mixin/_splitter';
@import '../essential/_global-variables';


// Icon is before the text

@mixin icon-before {
	padding-left: split-half($default-padding);

	.material-icons {
		float: left;
		margin-right: split-half($default-padding);
	}
}


// Icon is after the text

@mixin icon-after {
	padding-right: split-half($default-padding);

	.material-icons {
		float: right;
		margin-left: split-half($default-padding);
	}
}

@mixin icon-only {
	vertical-align: bottom; // need this for proper placing
	padding-right: split-half($default-padding);
	padding-left: split-half($default-padding);

	.material-icons {
		float: left;
	}
}


// Sizes

@mixin button-icon-small {
	&.small {
		&.icon-before {
			padding-left: split-half($small-padding);

			.material-icons {
				margin-right: split-half($small-padding);
			}
		}

		&.icon-after {
			padding-right: split-half($small-padding);

			.material-icons {
				margin-left: split-half($small-padding);
			}
		}

		&.icon-only {
			padding-right: split-half($small-padding);
			padding-left: split-half($small-padding);
		}
	}
}

@mixin button-icon-large {
	&.large {
		&.icon-before {
			padding-left: split-half($large-padding);

			.material-icons {
				margin-right: split-half($large-padding);
			}
		}

		&.icon-after {
			padding-right: split-half($large-padding);

			.material-icons {
				margin-left: split-half($large-padding);
			}
		}

		&.icon-only {
			padding-right: split-half($large-padding);
			padding-left: split-half($large-padding);
		}
	}
}


// A touch of responsiveness: block behaviour, reset some values
// At this point I'm not sure whether we need icons anyways
// Thinking about a .material-icons { display: none; } for mobile 'cause this is ain't proper center

@mixin button-icon-mobile {
	@media only screen and (max-width: 639px) {

		// Default
		&.icon-before {
			padding-right: round($default-padding * 2 + $default-padding / 2);

			.material-icons {
				margin-right: 0;
			}
		}

		&.icon-after {
			padding-right: split-half($default-padding);
			padding-left: round($default-padding * 2 + $default-padding / 2);

			.material-icons {
				margin-left: 0;
			}
		}

		// Small
		&.small {
			&.icon-before {
				padding-right: round($small-padding * 2 + $small-padding / 2);

				.material-icons {
					margin-right: 0;
				}
			}

			&.icon-after {
				padding-right: split-half($small-padding);
				padding-left: round($small-padding * 2 + $small-padding / 2);

				.material-icons {
					margin-left: 0;
				}
			}
		}

		// Large
		&.large {
			&.icon-before {
				padding-right: round($large-padding * 2 + $large-padding / 2);

				.material-icons {
					margin-right: 0;
				}
			}

			&.icon-after {
				padding-right: split-half($large-padding);
				padding-left: round($large-padding * 2 + $large-padding / 2);

				.material-icons {
					margin-left: 0;
				}
			}
		}
	}
}