// _pill-icon.scss
// Icon extension for pills
// @author eFBe
// TODO: separate .icon-before like @ buttons

@import '../../../mixin/_splitter';
@import '../essential/_global-variables';


// The icon

@mixin material-icon {
	opacity: $disabled-percentage;
	line-height: round($small-block-height - 2); // minus border width
	color: inherit;

	&:hover {
		opacity: 1;
	}
}

// Icon before the text

@mixin pill-icon-before {
	padding-left: split-half($small-padding);
}

@mixin icon-before {
	margin-right: split-half($small-padding);
}


// Icon after the text

@mixin pill-icon-after {
	padding-right: split-half($small-padding);
}

@mixin icon-after {
	margin-left: split-half($small-padding);
}


// Icon before the text

@mixin pill-icon-before {
	padding-left: split-half($small-padding);
}

@mixin icon-before {
	margin-right: split-half($small-padding);
}


// Icon only

@mixin pill-icon-only {
	padding-left: split-half($small-padding);
	padding-right: split-half($small-padding);
}

@mixin icon-only {
	margin-left: split-half($small-padding);
	margin-right: split-half($small-padding);
	opacity: 1;
}