// _pill-icon.scss
// Icon extension for pills
// @author eFBe
// TODO: separate .icon-before like @ buttons

@import '../../../mixin/_splitter';
@import '../essential/_global-variables';


// The pill itself

@mixin pill-icon {
	cursor: pointer; // let's assume it's selectable, don't forget to add tabindex="-1" for focus
}


// The icon

@mixin material-icon {
	opacity: $disabled-percentage;
	line-height: round($small-block-height - 2); // minus border width
	color: inherit;

	&:hover {
		opacity: 1;
	}
}

// Icon before the text

@mixin pill-icon-before {
	padding-left: split-half($small-padding);
}

@mixin icon-before {
	margin-right: split-half($small-padding);
}


// Icon after the text

@mixin pill-icon-after {
	padding-right: split-half($small-padding);
}

@mixin icon-after {
	margin-left: split-half($small-padding);
}