// Some useful this & that

// Sorry but has to be higher spec' than an ID
// scss-lint:disable ImportantRule
.hidden {
	display: none !important;
}

// Typo helpers
.all-caps {
	text-transform: uppercase;
}

.text-right {
	text-align: right;
}

// Oldskool clear fix
.clear {
	@include clear();
}

// Position utils
.vertical-center {
	@include vertical-center();
}

.horizontal-center {
	@include horizontal-center();
}

.absolute-center {
	@include absolute-center();
}

// If you want to hide things for desktop or mobile
@media screen and (min-width: $breakpoint-desktop) {
	.handheld-only {
		display: none !important;
	}
}

@media screen and (max-width: $breakpoint-desktop) {
	.desktop-only {
		display: none !important;
	}
}
