// _code.scss
// Header theme example module
// @author eFBe

@import '../../../../mixin/_color';
@import '../../essential/_colors';
@import '../../essential/_global-variables';


@mixin body {
	body {
		background-color: tint($led-suit-white, 40%);
	}
}

@mixin main {
	padding-top: $xlarge-padding;

	.grid-row.category {
		margin-bottom: $xlarge-padding;
	}

	article {
		margin-bottom: $xlarge-padding;
	}
}

@mixin main-mobile {
	@media only screen and (max-width: 639px) {
		.grid-row.category {
			margin-bottom: 0;
		}
	}
}
