// _code.scss
// Header theme example module
// @author eFBe

@import '../../../../mixin/_color';
@import '../../essential/_colors';
@import '../../essential/_global-variables';


@mixin body {
	background-color: tint($led-suit-white, 40%);
}

// poor man's tooltip module
@mixin tooltip {
	.tooltip {
		font-style: italic;
		cursor: help;
	}
}