// _code.scss
// Header theme example module
// @author eFBe

@import '../../../../mixin/_color';
@import '../../essential/_code';
@import '../../essential/_colors';
@import '../../essential/_global-variables';


@mixin code-panel-pre {
	padding: $default-padding;

	@include code();
}

@mixin code-panel-code {
	// reset global <code> style
	padding: 0;
	border: none;
	box-shadow: none;

	line-height: 130%;
}