// _code.scss
// Code module for the styleguide app
// @author eFBe

@import '../../essential/_code';
@import '../../essential/_global-variables';


@mixin code-panel-pre {
	padding: $default-padding;

	@include code();
}

@mixin code-panel-code {
	// reset global <code> style
	padding: 0;
	border: none;
	box-shadow: none;
	white-space: pre-wrap;

	line-height: 130%;
	font-size: $font-size-default;
}