// _panel.scss
// Panel module for the styleguide app
// @author eFBe

@import '../../../../mixin/_color';
@import '../../essential/_colors';
@import '../../essential/_global-variables';


@mixin panel {
	&.demo-dark {
		padding: $default-padding;
		color: $white;
		background-color: $silky-black;
	}

	&.demo-light {
		padding: $default-padding;
		color: $old-school-black;
		background-color: $led-suit-white;
	}

	&.demo-highlight {
		box-sizing: border-box;
		padding: $default-padding;
		color: $old-school-black;

		// same as the <code> module
		border: 1px solid tint($led-suit-white, $code-tint);
		background-color: $white;
	}

	&.vertical-padding {
		padding-right: 0;
		padding-left: 0;
	}
}