// _typo.scss
// typo design layer for styleguide app
// @author eFBe

@import '../../../../mixin/_color';
@import '../../essential/_colors';
@import '../../essential/_global-variables';


// basic typo
@mixin typo-basic {
	strong {
		font-weight: $text-medium;
	}

	// headings
	h2, h4 {
		margin-bottom: $xlarge-padding;
	}

	h5 {
		margin-bottom: $small-padding;

		& + .sub-note {
			margin-top: -$small-padding;
			padding-bottom: $default-padding;
		}
	}

	// icons in lists
	li {
		.material-icons {
			float: left;
			margin-right: $small-padding;
			color: tint($silky-black, $code-tint);
		}
	}
}

// some commonly used(?) modifiers
@mixin typo-extended {
	.note {
		font-size: $font-size-small;
	}

	.text-example {
		display: block;
		margin: $small-padding 0;
		padding: $xsmall-padding $small-padding;

		font-style: normal; // em reset
		color: $silky-black;
		background-color: shade($led-suit-white, $shade-percentage-lighten);
	}

	.link-highlight {
		color: $led-suit-orange-dark;
	}
}

// article specific typo
@mixin typo-article {
	article {
		p {
			padding-bottom: $xlarge-padding;

			&:last-child {
				padding-bottom: 0;
			}
		}
	}
}

// some mobile support
@mixin typo-mobile {
	@media only screen and (max-width: $breakpoint-mobile) {
		h4 {
			margin-bottom: $small-padding;
		}
		h5 {
			margin-bottom: $xsmall-padding;

			& + .sub-note {
				margin-top: -$xsmall-padding;
			}
		}
	}
}

// poor man's tooltip module
@mixin tooltip {
	.tooltip {
		font-style: italic;
		cursor: help;
	}
}