// _header.scss
// Header theme example module
// @author eFBe

@import '../../../mixin/_color';
@import '../../../mixin/_user-select';

@import '_colors';
@import '_global-variables';
@import '_link';


// Dimensions & percentages
// TODO: move them to global variables

$small-block-height: 24px;
$default-block-height: 32px;
$large-block-height: 48px;

$small-inner-padding: 8px;
$default-inner-padding: 12px;
$large-inner-padding: 16px;

$shade-percentage-hover: 10%;
$shade-percentage-active: 20%;

$disabled-percentage: 0.5;


@mixin button {
	padding: 0 $default-inner-padding;
	line-height: $default-block-height;
	height: $default-block-height;

	font-size: $font-size-default;

	border: 0; // input reset
	color: $white;
	background-color: $led-suit-blue-mid;

	&:hover {
		text-decoration: none; // anchor reset
		background-color: shade($led-suit-blue-mid, $shade-percentage-hover);
	}

	&:focus,
	&:active {
		outline: 0;
		background-color: shade($led-suit-blue-mid, $shade-percentage-active);
	}

	// Firefox input padding fix
	// @info https://davidwalsh.name/firefox-buttons
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
		margin-top: -2px;
		margin-bottom: -2px;
	}

	&[disabled],
	&.disabled {
		opacity: $disabled-percentage;
		cursor: not-allowed;
		pointer-events: none;
		
		@include user-select(none);
	}


	// Sizes

	&.small {
		padding-right: $small-inner-padding;
		padding-left: $small-inner-padding;

		font-size: $font-size-small;
		height: $small-block-height;
		line-height: $small-block-height;
	}

	&.large {
		padding-right: $large-inner-padding;
		padding-left: $large-inner-padding;

		font-size: $font-size-big;
		height: $large-block-height;
		line-height: $large-block-height;
	}

	// Full width buttons
	&.block {
		display: block;
		width: 100%;
		text-align: center;
	}

	// Link outfit, button behaviour
	&.link {
		margin-right: $default-inner-padding;
		margin-left: $default-inner-padding;
		padding-left: 0;
		padding-right: 0;

		background-color: $transparent;

		@include link();

		// paddings should be outside as margins
		&.small {
			margin-right: $small-inner-padding;
			margin-left: $small-inner-padding;
		}

		&.large {
			margin-right: $large-inner-padding;
			margin-left: $large-inner-padding;
		}
	}
}