// _button.scss
// Button design layer
// @author eFBe
// TODO: Split this up into Size / Color / etc. mixins

@import '../../../mixin/_block';
@import '../../../mixin/_color';
@import '../../../mixin/_user-select';

@import '_colors';
@import '_global-variables';
@import '_link';


// Dimensions & percentages

@mixin button {
	padding: 0 $default-padding;
	line-height: round($default-block-height - 2 * $small-border-width);
	height: $default-block-height;

	font-size: $font-size-default;

	border: $small-border-width solid $transparent; // this grants the equal width whether border is applied or not
	color: $white;
	background-color: $led-suit-blue-dark;

	&:hover {
		text-decoration: none; // anchor reset
		background-color: shade($led-suit-blue-dark, $shade-percentage-hover);
	}

	&:focus,
	&:active {
		outline: 0;
		background-color: shade($led-suit-blue-dark, $shade-percentage-active);
	}

	// Firefox input padding fix
	// @info https://davidwalsh.name/firefox-buttons
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
		margin-top: -2px;
		margin-bottom: -2px;
	}
}


// Disabled

@mixin button-disabled {
	&[disabled],
	&.disabled {
		opacity: $disabled-percentage;
		cursor: not-allowed;
		pointer-events: none;

		@include user-select(none);
	}
}


// Sizes
// TODO: use ONE variable with percentage(?)

@mixin button-sizes {
	&.small {
		padding-right: $small-padding;
		padding-left: $small-padding;

		font-size: $font-size-small;
		height: $small-block-height;
		line-height: round($small-block-height - 2 * $small-border-width);
	}

	&.large {
		padding-right: $large-padding;
		padding-left: $large-padding;

		font-size: $font-size-big;
		height: $large-block-height;
		line-height: round($large-block-height - 2 * $default-border-width);
		border-width: $default-border-width;
	}
}

// Color variants

@mixin button-colors {
	&.primary { // orange
		background-color: $led-suit-orange-dark;

		&:hover {
			background-color: shade($led-suit-orange-dark, $shade-percentage-hover);
		}

		&:focus,
		&:active,
		&.active {
			background-color: shade($led-suit-orange-dark, $shade-percentage-active);
		}
	}

	&.secondary { // grey
		color: $old-school-black;
		background-color: $led-suit-white;

		&:hover {
			background-color: shade($led-suit-white, $shade-percentage-hover);
		}

		&:focus,
		&:active,
		&.active {
			color: $old-school-black;
			background-color: shade($led-suit-white, $shade-percentage-active);
		}
	}
}


// Link outfit, button behaviour

@mixin button-link {
	&.link {
		margin-right: $default-padding;
		margin-left: $default-padding;
		padding-left: 0;
		padding-right: 0;

		background-color: $transparent;

		@include link();

		// paddings should be outside as margins
		&.small {
			margin-right: $small-padding;
			margin-left: $small-padding;
		}

		&.large {
			margin-right: $large-padding;
			margin-left: $large-padding;
		}
	}
}


// In group

@mixin button-group {
	.button-group {
		.button {
			border-right-width: 0;

			&:last-child {
				border-right-width: $small-border-width;
			}

			&.large {
				&:last-child {
					border-right-width: $default-border-width;
				}
			}
		}
	}
}
