// _code.scss
// Very tiny code mixin for multiple usage
// @author eFBe

@import '../../../mixin/_color';

@import '_colors';
@import '_global-variables';

@mixin pre {
	border: 1px solid tint($led-suit-white, $code-tint);
	border-radius: $small-border-radius;
	background-color: $white;
}

@mixin code {
	font-family: $font-monospace;
	font-size: $font-size-small;
	color: $led-suit-orange-dark;
	border: 1px solid tint($led-suit-white, $code-tint);
	border-radius: $small-border-radius;
	background-color: $white;
	-webkit-font-smoothing: subpixel-antialiased;
}
