// _colors.scss
// Color collection mixin carefully handpicked from Tron Legacy movie
// Pls keep them in alphabetical order. Thx!
// TODO: Should I move this to _global-variables.scss?
// TODO: Check this out! https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.5herugd6d
// @author eFBe

$black: #000 !default;
$end-of-line-cocktail-green: #6cdc22 !default;
$led-suit-blue-light: #a0e7e2 !default;
$led-suit-blue-mid: #61bbe1 !default;
$led-suit-blue-dark: #299ecf !default;
$led-suit-orange-dark: #eb4c1c !default;
$led-suit-white: #e5e3e4 !default;
$led-suit-yellow: #e8ec50 !default;
$silky-black: #22252a !default;
$transparent: transparent !default;
$old-school-black: #252525 !default;
$white: #fff !default;