// _global-variables.scss
// Variables across design elements
// @author eFBe


// Grid

$grid-gutter-width: 20px;


// Block heights

$small-block-height:   24px;
$default-block-height: 32px;
$large-block-height:   48px;


// Paddings

$xsmall-padding:   4px;
$small-padding:    8px;
$default-padding: 12px;
$large-padding:   16px;


// Typo / Sizes

$font-size-xsmall:    8px; // I don't think we gonna need this, probably for icons
$font-size-small:    12px;
$font-size-default:  14px;
$font-size-big:      18px;
$font-size-large:    24px;
$font-size-xlarge:   30px;
$font-size-xxlarge:  36px;
$font-size-xxxlarge: 48px; // neither this

$mobile-font-size-multiplier: 0.8;


// Typo / Weights

$text-slim:   200;
$text-normal: 400;
$text-bold:   500;
$text-xbold:  600;


// Typo / Families

$font-helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-monospace: 'Menlo', 'Monaco', Courier, monospace;


// Icon font sizes

$icon-small:   18px;
$icon-default: 24px;
$icon-large:   36px;


// Border

$small-border-width:   1px;
$default-border-width: 2px;

$small-border-radius:   4px;
$default-border-radius: 8px;
$large-border-radius:  12px;


// Misc

$relative-line-height-percentage: 150%;

$disabled-percentage: 0.6; // opacity


// TODO: gotta find some proper name & rule set for these
$shade-percentage-hover: 5%;
$shade-percentage-active: 15%;

$code-tint: 20%;
$code-relative-font-size: 80%;

$active-item-shade: 30%;

$hollow-item-hover: 0.2;