// _global-variables.scss
// Variables across design elements
// @author eFBe


// Grid

$grid-gutter-width: 20px;


// Block heights

$small-block-height:   24px;
$default-block-height: 32px;
$large-block-height:   48px;


// Paddings

$small-padding:    8px;
$default-padding: 12px;
$large-padding:   16px;


// Typo / Sizes

$font-size-xsmall:    8px; // I don't think we gonna need this, probably for icons
$font-size-small:    12px;
$font-size-default:  14px;
$font-size-big:      18px;
$font-size-large:    24px;
$font-size-xlarge:   30px;
$font-size-xxlarge:  36px;
$font-size-xxxlarge: 48px; // neither this

$mobile-font-size-multiplier: 0.6;


// Typo / Weights

$text-slim:   200;
$text-normal: 400;
$text-bold:   500;
$text-xbold:  600;


// Typo / Families

$font-helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-monospace: 'Menlo', 'Monaco', Courier, monospace;


// Icon font sizes (might be handy globally)

$icon-tiny:    12px;
$icon-small:   18px;
$icon-default: 24px;
$icon-big:     36px;
$icon-large:   48px;


// Misc

$disabled-percentage: 0.5;