// _grid.scss
// Some custom grid rules
// @author eFBe

@mixin grid-row {

	// Gutters extension
	&.gutter-20 {
		padding-right: 10px;
		padding-left: 10px;

		.column {
			padding-right: 10px;
			padding-left: 10px;
		}
	}

	// Service classes for 1st and last columns
	@media only screen and (min-width: 640px) {
		&.stick-to-left {
			padding-left: 0;

			.column:first-of-type {
				padding-left: 0;
			}
		}

		&.stick-to-right {
			padding-right: 0;

			.column:last-of-type {
				padding-right: 0;
			}
		}
	}
}