// _link.scss
// Very tiny link mixin for multiple usage
// @author eFBe

@import '_colors';


@mixin link {
	text-decoration: none;
	color: $led-suit-blue-dark; // should be blue-dark when I discover that

	&:hover {
		text-decoration: underline;
	}
}