// _typo.scss
// Typograhic elements
// @author eFBe


@import '../../../mixin/_color';
@import '../../../mixin/_splitter';

@import '_code';
@import '_colors';
@import '_global-variables';
@import '_link';


body {
	font-family: $font-helvetica;
}

p {
	font-size: $font-size-default;
	line-height: $relative-line-height-percentage;
}

a {
	@include link();
}

ol, ul {
	list-style: none;
	font-size: $font-size-default;
	line-height: $relative-line-height-percentage;
}

h1, h2, h3, h4, h5, h6 {
	line-height: $relative-line-height-percentage;
	font-weight: $text-normal;
}

h1 { font-size: $font-size-xxxlarge; }
h2 { font-size: $font-size-xxlarge;  }
h3 { font-size: $font-size-xlarge;   }
h4 { font-size: $font-size-large;    }
h5 { font-size: $font-size-big;      }
h6 {
	font-weight: $text-bold;
	font-size: $font-size-default;
}

code {
	white-space: nowrap;
	padding: split-quarter($small-padding) split-half($small-padding);

	@include code();
}

// Just a touch of mobile friendliness: font sizes should be 60 percent under 640px
// TODO: put media query breakpoint into _global-variables
@media only screen and (max-width: 639px) {
	h1 { font-size: round($font-size-xxxlarge * $mobile-font-size-multiplier); }
	h2 { font-size: round($font-size-xxlarge * $mobile-font-size-multiplier); }
	h3 { font-size: round($font-size-xlarge * $mobile-font-size-multiplier); }

	h6 {
		font-weight: $text-bold;
		font-size: $font-size-default;
	}
}