// _column.scss
// Column sizes based on 1/12 portions
// @author eFBe

@mixin column {
	.column-1  { width: percentage(1 / 12); }
	.column-2  { width: percentage(2 / 12); }
	.column-3  { width: percentage(3 / 12); }
	.column-4  { width: percentage(4 / 12); }
	.column-5  { width: percentage(5 / 12); }
	.column-6  { width: percentage(6 / 12); }
	.column-7  { width: percentage(7 / 12); }
	.column-8  { width: percentage(8 / 12); }
	.column-9  { width: percentage(9 / 12); }
	.column-10 { width: percentage(10 / 12); }
	.column-11 { width: percentage(11 / 12); }
	.column-12 {
		width: 100%; // this one is for the table <colgroup>
		float: none; // this one is for grids
	}
}
