// _float.scss
// Mixin collection for floats & clear
// @author eFBe


// Micro clear by @necolas
// @info http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clear {
	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}
}


// Floats & centerize
// TODO: If you don't use something more than once pls dump it!

@mixin float-left {
	float: left;
}

@mixin float-right {
	float: right;
}

@mixin float-none {
	float: none;
}

@mixin centerize {
	margin: 0 auto;
}