// _typo.scss
// Mixin collection for typographic elements
// TODO: If you don't use it, dump it!
// @author eFBe

@mixin text-center {
	text-align: center;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
