// button.scss
// Button module
// @author eFBe

@import '../../mixin/_block';
@import '../../theme/tron/essential/_global-variables';
@import '../../theme/tron/essential/_button';


.button {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	@include button();

	// webkit reset
	// scss-lint:disable VendorPrefix
	-webkit-appearance: none;


	// Full width buttons

	&.block {
		@include block();
	}


	// A touch of responsiveness: block behaviour, reset some values

	@media only screen and (max-width: 639px) {
		@include block();

		margin-bottom: $grid-gutter-width;

		&.link,
		&.link.small,
		&.link.large {
			margin-right: 0;
			margin-left: 0;
		}
	}


	// Mobile reference button for text center test purposes

	@media only screen and (min-width: 640px) {
		&.mobile-reference {
			display: none;
		}
	}
}