// grid.scss
// (a very simple) Grid module
// @author eFBe

@import '../../theme/tron/essential/_global-variables';
@import '../../mixin/_column';
@import '../../mixin/_float';


.grid-row {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;

	// Just a touch of mobile friendliness: grid columns should be full-width under 640px
	@media only screen and (max-width: $breakpoint-mobile) {
		[class*=column-] {
			width: 100%;
			float: none;
		}
	}

	@include clear();
}

.column {
	box-sizing: border-box;
	position: relative;
	display: block; // do not stick with block level elements
	width: 100%;
	min-height: 1px; // Don't mess the layout up when empty

	@include float-left();

	// spec. must be high to overwrite different layout types
	// scss-lint:disable ImportantRule
	&.center {
		float: none;
		margin: 0 auto !important;
	}
}

@include column();
