// grid.scss
// (a very simple) Grid module
// @author eFBe

@import '../../mixin/_float';


.grid-row {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;

	// Just a touch of mobile friendliness: grid columns should be full-width under 640px
	@media only screen and (max-width: 639px) {
		[class*=column-] {
			width: 100%;
			float: none;
		}
	}

	@include clear();
}

.column {
	box-sizing: border-box;
	position: relative;
	display: block; // do not stick with block level elements
	width: 100%;
	min-height: 1px; // Don't mess the layout up when empty

	@include float-left();

	// spec. must be high to overwrite different layout types
	// scss-lint:disable ImportantRule
	&.center {
		float: none;
		margin: 0 auto !important;
	}
}

.column-1  { width: percentage(1 / 12); }
.column-2  { width: percentage(2 / 12); }
.column-3  { width: percentage(3 / 12); }
.column-4  { width: percentage(4 / 12); }
.column-5  { width: percentage(5 / 12); }
.column-6  { width: percentage(6 / 12); }
.column-7  { width: percentage(7 / 12); }
.column-8  { width: percentage(8 / 12); }
.column-9  { width: percentage(9 / 12); }
.column-10 { width: percentage(10 / 12); }
.column-11 { width: percentage(11 / 12); }
// If it's a full width column disable float, so we won't need an extra .clear class
.column-12 { float: none; }
