// grid.scss
// (a very simple) Grid module
// @author eFBe
// TODO: create grid test suite
// TODO: check nested columns - inner columns shouldn't inherit paddings - see button test suite

@import '../../mixin/_float';


.grid-row {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;

	// Just a touch of mobile friendliness: grid columns should be full-width under 640px
	@media only screen and (max-width: 639px) {
		[class*=column-] {
			width: 100%;
			float: none;
		}
	}

	@include clear();
}

.column {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 100%;
	min-height: 1px; // Don't mess the layout up when empty

	@include float-left();
}

.column-1  { width:  8.33333%; }
.column-2  { width: 16.6667%;  }
.column-3  { width: 25%;       }
.column-4  { width: 33.3333%;  }
.column-5  { width: 41.6667%;  }
.column-6  { width: 50%;       }
.column-7  { width: 58.3333%;  }
.column-8  { width: 66.6667%;  }
.column-9  { width: 75%;       }
.column-10 { width: 83.3333%;  }
.column-11 { width: 91.6667%;  }
.column-12 { width: 100%;
	float: none; // If it's a full width column disable float, so we won't need an extra .clear class
}

.center {
	@include centerize();
}
