// _header.scss
// Header theme example module
// @author eFBe

@import '../essential/_colors';


@mixin header {
	min-height: 40px;
	background-color: $silky-black;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.14);

	h3 {
		color: $white;
	}
}