// _header.scss
// Header theme example module
// @author eFBe

@import '../essential/_colors';
@import '../essential/_global-variables';


$header-height: 70px;

@mixin header {
	min-height: $header-height;
	background-color: $white;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.14);
}

@mixin header-typo {
	h3 {
		padding: 0 $large-padding;
		line-height: $header-height;
		color: $silky-black;
	}
}