// _header.scss
// Header theme example
// @author eFBe

@import '../../../mixin/_vertical-center';
@import '../essential/_colors';
@import '../essential/_global-variables';


$header-height: 70px;

@mixin header {
	position: relative;
	margin-bottom: round($grid-gutter-width * 2);
	min-height: $header-height;
	background-color: $white;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
}

@mixin header-typo {
	h3 {
		padding: 0 $large-padding;
		line-height: $header-height;
		color: $silky-black;
	}
}

@mixin header-button {
	.button {
		position: absolute;
		right: $xxlarge-padding;

		@include vertical-center();
	}
}