// code.scss
// Demo code block module
// @author eFBe

@import '../../../theme/tron/app/styleguide/_code';

.code-panel {
	box-sizing: border-box;

	@include code-panel-pre();

	code {
		tab-size: 2;
		-webkit-font-smoothing: subpixel-antialiased;

		@include code-panel-code();
	}
}