// grid-stick-to-left.scss
// Left side menu extension for grids
// @requires essential/grid.css
// @requires extension/grid-gutters
// @author eFBe


@import '../../mixin/_splitter';
@import '../../theme/tron/essential/_global-variables';


.grid-row {
	// If you need gutters but not on the sides
	&.stick-to-left {
		padding-right: 0;
		padding-left: 0;

		// don't let this property inherit! (usage of ">")
		> .column {
			padding-right: split-half($grid-gutter-width);
			padding-left: split-half($grid-gutter-width);
		}

		// the sticky column
		> .column:first-of-type {
			margin-left: -(split-half($grid-gutter-width));
		}

		.grid-row {
			// nesting reset
			.column:first-of-type {
				margin-left: 0;
			}

			&.stick-to-left .column:first-of-type {
				margin-left: -(split-half($grid-gutter-width));
			}
		}
	}

	// Mobile columns are still full wide
	// scss-lint:disable ImportantRule
	@media only screen and (max-width: $breakpoint-mobile) {
		.column:first-of-type {
			margin-left: 0 !important;
		}
	}
}