// _button-icons.scss
// Icon extension for buttons
// @requires plugin/pill.css
// @requires plugin/material-icon.css
// @author eFBe

@import '../../theme/tron/extension/_pill-icon';


.pill-icon {
	.material-icons {
		// reset link behaviour
		text-decoration: none;
		color: inherit;

		@include material-icon();
	}

	&.icon-before {
		@include pill-icon-before();

		.material-icons {
			float: left;

			@include icon-before();
		}
	}

	&.icon-after {
		@include pill-icon-after();

		.material-icons {
			float: right;

			@include icon-after();
		}
	}

	&.icon-only {
		@include pill-icon-only();

		.material-icons {
			@include icon-only();
		}
	}
}